<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap-theme.css" rel="stylesheet">
    <link href="octicons.css" rel='stylesheet'>
    <link href="/stylesheets/application.css" rel='stylesheet'>
    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.js"></script>
    <script src="angular-scroll.min.js"></script>

    <title>Rust Kit</title>
  </head>

  <body id="body" ng-app="RustKit" ng-cloak ng-controller="MainController" ng-init="init(<%= Rack::Utils.escape_html(default_results) %>, <%= Rack::Utils.escape_html(tags) %>)">
    <%= yield %>
  </body>

  <script src="ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="Markdown.Converter.js"></script>
  <script src="Markdown.Extra.js"></script>
  <script src="/javascript/startup.js"></script>
  <script src="/javascript/application.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53407740-1', 'auto');
    ga('send', 'pageview');
  </script>

</html>


