<div class="container" id="text-form">
  <div class="row col-md-6 col-md-offset-3 sidebar center">
    <h1 class="sidebar--header">Rust Kit</h1>
    <p>An unofficial <a href="https://github.com/rust-lang/rust">Rust</a> library browser.<a href="https://github.com/rgawdzik/rustkit"> Contribute here.</a></p>
  </div>

  <div class="row col-md-offset-3 col-md-6 search">
    <form ng-submit="search(search.input)" role="search">
      <div class="form-group">
        <input type="text" onClick="this.select();" ng-model="search.input" class="form-control" placeholder="Search from {{allSize || 'n'}} Rust libraries with âŽ. Use a tag with [tag].">
      </div>
      <span class="label label-primary search--tag" ng-click="search(search.input = search.input+'['+tag+']')" ng-bind="tag" ng-repeat="tag in tags"></span>
    </form>

    <div ng-if="loading" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="center" ng-if="failed">
      <p>We couldn't find anything with your query. Maybe try something else?</p>
    </div>

    <search-result result="result" ng-repeat="result in currResults"></search-result>
    <div class="search--navigation">
      <button ng-click="previousPage()" type="button" class="btn btn-primary" ng-class="{disabled: currPage == 1 }" href="#text-form">prev</button>
      <span>{{currPage}} of {{totalPages}}</span>
      <button ng-click="nextPage()" class="btn btn-primary" ng-class="{disabled: currPage == totalPages }">next</button>
    </div>
  </div>
</div>
