<div class="container">
  <div class="col-xs-8 search" du-scroll-container>
    <form id="text-form" ng-submit="search(search.input)" role="search">
      <div id="search" class="form-group">
        <input type="text" ng-model="search.input" class="form-control" placeholder="Search from {{totalSize || 'n'}} Rust libraries...">
      </div>
    </form>

    <search-result result="result" ng-repeat="result in currResults"></search-result>
    <div class="search--navigation">
      <button ng-click="previousPage()" type="button" class="btn btn-default" href="#text-form" du-smooth-scroll du-scrollspy>Prev</button>
      <button ng-click="nextPage()" class="btn btn-default" href="#text-form" du-smooth-scroll du-scrollspy>Next</button>
    </div>

  </div>
  <div class="col-xs-4 sidebar">
    <h1>Rust Kit</h1>
    <p>A Rust library browser. Made by rusties, for rusties.</p>
  </div>
</div>
