html { font-size: 62.5%; }

.container {
  width: 80rem; }
.search{
  background-color: blue;
  height: 100%;
  overflow-y: auto;
  padding-right: 1rem;

}
.sidebar{
  background-color: red;
  height: 100%;
  text-align: center;
}
