* { font-family: 'Fira Sans'; }

html {
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  display: block;
  font-family: sans-serif;
}

.hidden {
  visibility: hidden;
}

section[role="region"] {
  height: 100%;
  background: #fff;
}

section[role="region"] > header.fixed:first-child {
  position: absolute;
  width: 100%;
}

section[role="region"] .content header {
  margin: 1.5rem -1.5rem;
}

section[role="region"] .content header:first-child {
  margin-top: -1.5rem;
}

.content [data-type="list"] {
  margin: -1.5rem;
}

.center {
  display: block;
  text-align: center;
}

[data-type="list"] {
  padding: 0;
}

[data-type="list"] ul {
  padding: 0 1.5rem;
  overflow: auto;
}

section[role="region"] .content [data-type="list"] header {
  margin: 0 1.5rem;
}

[data-type="list"] li p,
[data-type="list"] li p:first-of-type {
  padding-left: 1.5rem;
}


/* Fonts */
h1 { /* Main header */
  font-size: 2.5rem;
  font-weight: normal;
}

h2 { /* Subheader, Dialog title */
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
}

p.large { /* Dialog body */
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3rem;
}

p.alt { /* Body medium, Buttons */
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
}

p.small { /* Status bar */
  font-size: 1.5rem;
  line-height: 2rem;
}

p.mini { /* Fine print */
  font-size: 1.4rem;
  line-height: 1.9rem;
}

p.micro { /* App icon label */
  font-size: 1.3rem;
  line-height: 1.8rem;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

/* Themes */
.skin-dark { background: #000; }
.skin-organic { background: #f4f4f4; }

.container {}
.search{
  height: 100%;
  padding-right: 1rem;
}

.sidebar--header{
  font-size: 4rem;
}

// ==========================
// ---------SEARCH-----------
// ==========================

.search--inline {
  display: inline-block;
  margin: 0;
  line-height: 3rem;
}

.search--markdown {
  background-color: white;
  overflow: auto;
}
.search--title {
  padding-left: 1rem;
  padding-right:1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.search--navigation {
  text-align: center;
  margin-bottom: 1rem;
}

.search--description {
  padding-left: 1rem;
  padding-right:1rem;
}

.search--result {
  border-radius: 4px;
  background-color: #FAFAFA;
  border: 1px solid #CCC;  margin-bottom: 1rem;
}

.search--expand {
  width: 2rem;
  height: 2rem;
}

.center {
  text-align: center;
}

//====================================
//From http://tobiasahlin.com/spinkit/
.spinner {
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.search--small_tag {
  display: inline-block;
  margin: 0.2rem;
}

.search--tag {
  display: inline-block;
  margin: 0.2rem;
  font-size: 1.5rem;
}

.search--tag_cntr {
  padding-left: 1rem;
  padding-right:1rem;
  margin-bottom: 0.4rem;
}
